<!DOCTYPE html>

    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>register</title>
           <link rel="stylesheet" href="../css/signup_process.css">
           
        </head>
        <body>  
            
            <div class="topnav">
                <img src="../img/logo.png" alt="logo" style="width:100px;height:45px;margin-top: 5px; margin-left: 5px;" >
              <div class="topnav-right">
              <p>1. Registration</p>
              <p>2. Business Details</p>
              <p><h4><b>3. Bank Account Details</h4></b></p>
              <P>4.Finish</P>
            </div>
            </div>
    
            <div class="container">
                <div class="description">
                   <h2> Fill all the fields in the form <br>
                    Events Lab guarantee about the bank details <br>
                    customer provides won't be revealed to a third <br>
                    party under any circumstance</h2>
            </div>
    
            <div class="regform">
                <center><img src="../img/logo.png" style="height: 60px;
                    width: 100px;"></center>
                <div class="title">
                    Enter Your Bank Account DetailS </div>
                
                <div class="form">
                   <div class="inputfield">
                      <label>Bank Account Holders Name</label>
                      <input type="text" class="input">
                   </div> 

                   <div class="inputfield">
                    <label>Bank Name</label>                    
                    <input type="int" class="input">
                   </div>
                   
                   <div class="inputfield">
                    <label>Name of the Branch</label>                    
                    <input type="int" class="input">
                   </div> 
    
                   <div class="inputfield">
                      <label>Account Number </label>
                      <input type="int" class="input">
                   </div> 
                   
                   <br>  
                  <div class="inputfield">
                    <span class="privacy-policy">
                        <input type="checkbox" name="policy">You agree to our <a href="">Terms and Policy.</a> 
                        </span><br>
                    <input type="button" onclick="window.location.href='finish.html';" value="Submit" class="btn"></div>
                  </div>
                  
                </div>
            </div>
        
            <footer>
                <center>copyrights reserved</center>
            </footer>
             
        </body>
    </html>