<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/my_packages.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>My Packages</title>
</head>

<body>
    <div class="container">
        <div class="topbar">
          
                <div class="logo">
                    <img src="../img/logo.png">
                </div> 
           
            
            <div class="search">
                <input type="text" id="search" placeholder="search here">
                <label for ="search"><i class="fa fa-search"></i></label>
            </div>
            <i class="fa fa-bell"></i>
            
            <div class="user">
                <a href="profile.php"><img src="../img/propic.jpg" alt="propic"> </a>
                
            </div>
  
            <h6> <?php echo $_SESSION['sp_name'];?> </h6>
        </div>
        
        <div class="sidebar">
  
            <ul>
  
                <li> 
                    <a class="active" href ="dashboard.php">
                        <i class="fa fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>

                <li> 
                    <a  href ="mygig.php">
                        <i class="fa fa-list-alt"></i>
                        <div>My Packages</div>
                    </a>
                </li>

                <li> 
                    <a  href ="orders.php">
                        <i class="fa fa-th-large"></i>
                        <div>My Orders</div>
                    </a>
                </li>
  
                <li> 
                    <a href ="calender.php">
                        <i class="fa fa-calendar"></i>
                        <div>Calendar</div>
                    </a>
                </li>
   
                <li> 
                    <a href ="notification.php">
                        <i class="fa fa-envelope"></i>
                        <div>Notifications</div>
                    </a>
                </li>
  
                <li> 
                    <a href ="settings.php">
                        <i class="fa fa-cog"></i>
                        <div>Settings</div>
                    </a>
                </li>
  
                <li> 
                    <a href ="help.php">
                        <i class="fa fa-volume-control-phone"></i>
                        <div>Help</div>
                    </a>
                </li>
  
                <li> 
                    <a href ="logout.php">
                        <i class="fa fa-sign-out"></i>
                        <div>Log out</div>
                    </a>
                </li>
  
                
            </ul>
        </div>
        </div>
       <div class="main">
        <h2>My packages</h2>
        <div class="gigcontainer">
            <div class="box">
                <div class="image">
                    <img src="../img/hall1.jpg">
                </div>
                <div class="easy">
                    <div class="name_package">Araliya Beach Resort</div>
                    <p><b>Dehiwala</b></p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <br>
                    <div class="btns">
                        <button>View More</button>
                        <button>Edit</button>
                    </div>
                </div>
            </div>
        
         
    </div>


</body>
</html>
