<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/add_packages.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <script type="text/javascript" src="../js/add_catering_options.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Packages</title>

</head>
<body>

    <div class="container">
        <div class="topbar">
          
                <div class="logo">
                    <img src="../img/logo.png">
                </div> 
           
            
            <div class="search">
                <input type="text" id="search" placeholder="search here">
                <label for ="search"><i class="fa fa-search"></i></label>
            </div>
            <i class="fa fa-bell"></i>
            
            <div class="user">
                <a href="profile.php"><img src="../img/propic.jpg" alt="propic"> </a>
                
            </div>
  
            <h6> <?php echo $_SESSION['sp_name'];?> </h6>
        </div>
        
        <div class="sidebar">
  
            
            <ul>
  
                <li> 
                    <a  href ="dashboard.php">
                        <i class="fa fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>

                <li> 
                    <a  href ="mygig.php">
                        <i class="fa fa-list-alt"></i>
                        <div>My Packages</div>
                    </a>
                </li>

                <li> 
                    <a  href ="orders.php">
                        <i class="fa fa-th-large"></i>
                        <div>My Orders</div>
                    </a>
                </li>
  
                <li> 
                    <a href ="calender.php">
                        <i class="fa fa-calendar"></i>
                        <div>Calendar</div>
                    </a>
                </li>
   
                <li> 
                    <a href ="notification.php">
                        <i class="fa fa-envelope"></i>
                        <div>Notifications</div>
                    </a>
                </li>
  
                <li> 
                    <a href ="settings.php">
                        <i class="fa fa-cog"></i>
                        <div>Settings</div>
                    </a>
                </li>
  
                <li> 
                    <a href ="help.php">
                        <i class="fa fa-volume-control-phone"></i>
                        <div>Help</div>
                    </a>
                </li>
  
                <li> 
                    <a href ="logout.php">
                        <i class="fa fa-sign-out"></i>
                        <div>Log out</div>
                    </a>
                </li>
  
                
            </ul>
        </div>
        </div>
       <div class="main">

        
    <div class="gigform">
        <h1>ADD YOUR PACKAGE!<span>Enter your bussiness details to add your package<br>Venue Provider</span></h1>
        <form action="createGig.php" method="post">
            <div class="section"><span>1</span>Package Info</div>
            <div class="inner-wrap">
                <label>Package Name (Venue Name)<input type="text" name="package_name"></label>
                <label>City <input type="text" name="city"></label>
                <label>Business Address <textarea name="Adress"></textarea></label>
                <label>Add Description About Your package<textarea name="description"></textarea></label>
            </div>
        
            <div class="section"><span>2</span>Options</div>
            <div class="inner-wrap">
                
                <label>Venue Package-Option Name (Hall Name/Hall number)<input type="text" name="venue_option_name"></label>
                <label>Option Type (Indoor/ Outdoor)<input type="text" name="venue_option_name"></label>
                <label>Max. Guest Count <input type="text" name="venue_guest_count"></label>
                <label>Description<textarea name="option_description"></textarea></label>
                <label>Option Price <input type="text" name="venue_option_price"></label>

                <!--add images-->
                <label>Add Images</label>
                <label>File 1</label>
                    <input type="file" id="myimage" name="filename"><br>
                <label>File 2</label>
                    <input type="file" id="myimage" name="filename">
                    
            </div>

      
                

<!--add another field-->
<div class="section">More Options</div>
<div class="inner-wrap">
<div id="container"></div>
<div class="moreopt">
    <center><button type="button" onclick="addField()">Add Another Option</button></center>
    </div>
</div>

                
            

            <div class="section"><span>3</span>special comments</div>

            <div class="inner-wrap">
                <label>Comments <textarea name="Comments"></textarea></label>
            </div>
        
            
            <div class="button-section">
            <input type="submit" name="addpackage" /> 
            
            </div>
        </form>
        </div>
    </div>
</body>
</html>