@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body {
    background: #ffff;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.parent {
    display: grid; 
    grid-template-columns: 2fr 2fr; 
    grid-gap: 10px; 
    margin: auto;
    padding: 10px;
} 
.li { 
    width: 380px;
    margin: 10px;
}
h2 {
    margin-top: 150px;
    text-align: left;
    font-weight: 800;
}
.li-1 {
    color: rgba(114, 129, 163, 0.76);
    font-weight: 600;
}