@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{ 
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color:#DDD4E5;	
}	

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #7B3290;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
 font-size:20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover {
  background-color:#B8A9BC ;
}
.center{
	text-align:center;
	padding-top:100px;
	font-size:30px;
}

.btn{
	
padding:10px 368px;
display: flex;
}
.button1 {
  background-color: #BC82F0; 
  border: none;
  color: white;
  text-decoration: none;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  margin: 10px 8px;
  width: 293px;
  height: 308px;
  cursor: pointer;
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;

}
.button2{
  background-color: #BC82F0; 
  border: none;
  color: white;
  text-decoration: none;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
  width: 293px;
  height: 308px;
  cursor: pointer;
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}
.button1:hover {
  background-color: black;
  color: white;
}
.button2:hover {
  background-color: black;
  color: white;
}