.wrapper{
    position: absolute;
    width: 500px;
    height: 460px;
    margin-top: -490px;
    margin-left: 540px;
    box-shadow: 0px 10px 20px 6px rgba(3, 3, 3, 0.2);
}
.wrapper p{
    color: rgb(101, 99, 99);
    margin-left: 120px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pwd1{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 50px;
    color: rgb(110, 108, 108);
}
#pwd1{
    border: 2px solid rgb(112, 110, 110);
    position: absolute;
    margin-left: 210px;
    margin-top: 46px;
    width: 230px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    transition: 1s;
}
#pwd1:focus{
    outline: none;
    border-color: rgb(70, 70, 70);
    box-shadow: 1px 2px 2px 3px rgba(3, 3, 3, 0.2);
}
.pwd2{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 110px;
    color: rgb(110, 108, 108);
}
#pwd2{
    border: 2px solid rgb(112, 110, 110);
    position: absolute;
    margin-left: 210px;
    margin-top: 106px;
    width: 230px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    transition: 1s;
}
#pwd2:focus{
    outline: none;
    border-color: rgb(70, 70, 70);
    box-shadow: 1px 2px 2px 3px rgba(3, 3, 3, 0.2);
}
#Eyebtn{
    position: absolute;
    width: 28px;
    height: 26px;
    background-image: url("../images1/eye_32px.png");
    background-repeat: no-repeat;
    background-size:25px;
    background-position: 50% 50%;
    margin-top: 46px;
    margin-left: 413px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}
#Eyebtn:hover{
    cursor: pointer;
    background-color: rgba(132, 128, 128, 0.344);
}
#ReEyebtn{
    position: absolute;
    width: 28px;
    height: 26px;
    background-image: url("../images1/eye_32px.png");
    background-repeat: no-repeat;
    background-size:25px;
    background-position: 50% 50%;
    margin-top: 106px;
    margin-left: 413px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}
#ReEyebtn:hover{
    cursor: pointer;
    background-color: rgba(132, 128, 128, 0.344);
}
#Submit{
    position: absolute;
    margin-top: 160px;
    margin-left: 170px;
    width: 150px;
    height: 40px;
    background-color: rgb(55, 55, 227);
    color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    border-radius: 20px;
    transition: 1s;
}
#Submit:hover{
    cursor: pointer;
    box-shadow: 2px 4px 4px 2px rgb(117, 117, 188);
    padding: 0px 0px 4px 0px;
}
#correct{
    position: absolute;
    margin-left: 550px;
    margin-top: 50px;
    
}
#correct+p{
    position: absolute;
    color: green;
    margin-top: 350px;
    margin-left: 540px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}