@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --btn-background: #ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

.nav-bar {
    margin-top: 25px;
    position: absolute;
    margin-top: 60px;
    width: 250px;
}

.eventslab img{
    position: absolute;
    width: 10px;
    height: auto;
    float: left;
    margin-top: 144px;
}

ul {
  width: 250px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li i {
    padding: 8px 16px;
    display: flex;
    color: #4c4b84;
    font-size: 20px;
    margin-left: 0px;
    text-decoration: none;
    line-height: 60px;

}

li a {
  position: relative;
  color: #4c4b84;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4c4b84;
  color: white;
}

li i.active {
  background-color: #4c4b84;
  color: white;
}

li a:hover:not(.active) {
    color: white;
    background-color: #4c4b84;
    opacity: 0.3;
}

li i:hover:not(.active) {
  color: white;
  background-color: #4c4b84;
  opacity: 0.3;
}

#log_out {
    margin-left: 70px;
    position: absolute;
    /*top: 0%;*/
    margin-top: 85%; 
    text-align: center;
    font-size: 20px;
    padding: 8px 16px;
}
.welcome {
    width: 1000px;
    display: inline-block;
}
.search-area {
    position: absolute;
    display: inline-block;
    margin-top: 21.440px;
    margin-left: 200px;
}

.bx-search {
    top: 8px;
    background-color: #FAF9F8;
    color: #210e54;
}

.welcome {
  width: 400px;
}

.welcome h1 {
  color: #210e54;
}

.search-area .search{
display: inline-block;
position: absolute;
width: 356px;
height: 40px;
left: 60%;
border-radius: 45px;
border-style: hidden;
background-color: #FAF9F8;
margin-top: 1px
}

.topbar{
  position: fixed;
  background: #ffffff;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);*/
  width:100%;
  height: 68px;
  margin-top: 0px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 250px 1080px 50px 60px auto;
  padding: 0 0 0 0px;
  
  align-items: center;
  z-index: 1;

}

.topbar .logo {
  background-color: #ffffff;
  width: 250px;
  height: 68px;
  margin-left: 0;
}

.logo img{
  position: absolute;
  top: 10px;
  /*height: 70px;*/
  width:200px;
 /* margin-bottom: 5px;*/
  left: 40px;
 }


.search0{
  margin-left:4%;
  /* top: 0; */
  width: 450px;
  position:relative; 
  justify-self: left;
  border-radius: 5px;
}

.search0 .username {
    font-size: 18px;
    color: #210e54;
    padding: 8px 8px;
    position: absolute;
    /* margin-top: 0px; */
}


.user{
position:relative;
width: 50px;  
height: 50px;
}

.user img{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: 50%;
}

.container0 {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




i {
  font-size: 20px;
  /* font-weight: 600; */
}


.common-cage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  position: absolute;
  margin-top: 7%;
  height: auto;
}

.table-cage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.topic {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* 
.id {
  width: auto;
}

.fname {
  width: 50%;
}

.lname {
  width: 50%;
}

.email {
  width: 50%;
}

.message-btn {
  width: 30%;
} */


