/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #efeffb;
    margin: 0;
}

.main-cage {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 0;
    margin-left: 10%;
    z-index: -1;
}

.top-cage {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
}

.pro-pic {
    width: 150px;
    height: 150px;
    padding: 30px;
}

.pro-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    width: 80%;
    display: flex;
    justify-self: center;
}

.text-user-info {
    padding: 30px;
}

.link-cage {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: column;
}

.get-from-backend {
    display: flex;
}

.x {
    padding: 30px;
}

a {
    color: #210e54;
    text-decoration: none;
}

.article-form {
    padding: 30px;
}

.two-buttons {
    display: flex;
    justify-content: space-between;
    width: 45% !important;
}

.button {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #210e54;
    color: #efeffb;
}

.insert {
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

.create-notification {
    display: flex;
    flex-direction: column;
    /* align-self: left; */
}

.write-new-notification {
    align-self: center;
    color: #ffffff;
    font-size: larger;
}

.not-topic {
    display: flex;
    justify-content: center;
}

.btn-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
}

.insert-notification {
    padding: 10px;
    border-radius: 5px;
    border-style: 1px solid #210e54;
    background-color: #efeef1;
}

.do-db {
    display: flex;
}

.button-i-green {
    padding: 5px 20px;
    height: 30px;
    width: auto;
    /* background-image: url(./images/send-regular-24.png); */
    background-color: rgb(6, 155, 6);
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    margin-left: 3px;
}

.button-i-red {
    padding: 5px 20px;
    height: 30px;
    width: auto;
    /* background-image: url(./images/send-regular-24.png); */
    background-color: rgb(188, 8, 8);
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    margin-left: 3px;
}